# ─────────────────────────────────────────────────────────────────────────────
# Backend (repo-interview-main)
# ─────────────────────────────────────────────────────────────────────────────
BACKEND_PORT=3002          # Puerto expuesto en el host para el backend
NODE_ENV=development       # development | production

# ─────────────────────────────────────────────────────────────────────────────
# Frontend (reto_angular)
# ─────────────────────────────────────────────────────────────────────────────
FRONTEND_PORT=4200         # Puerto expuesto en el host para el frontend (nginx)
